/* GenreModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #5c5a5b;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content ul button {
    margin: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #34495e;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.modal-content ul button:hover {
    background: #2c3e50;
    transform: scale(1.05);
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.close-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
